#mainCard {
    max-width: 75%;
}


.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 158px;
    z-index: 1;
}

.dropdown-menu a:hover {
    background-color: papayawhip;
}

.right-menu:hover .dropdown-menu {
    display: block;
}
.dropdown-menu a {
    display: block;
    color: black;
}
