#mainCard {
    max-width: 75%;
}


.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 158px;
    z-index: 1;
}

.dropdown-menu a:hover {
    background-color: papayawhip;
}

.right-menu:hover .dropdown-menu {
    display: block;
}
.dropdown-menu a {
    display: block;
    color: black;
}



@media screen and (max-width: 768px) { /*case of tablet*/
    header,footer{
        background-color:blue;
    }
    table{
        /*width: 60%;*/
        background-color:red;
        /*font-size:65%;*/
        font-size:0.6em;
    }
}

@media screen and (max-width: 480px) { /*case of mobilePhone*/
    body {font-size:0.6em;}
    header,footer{
        background-color:blue;
    }
    table{
        /*width: 30%;*/
        background-color:blue;
        /*font-size:60%;*/
        font-size:0.6em;

    }
}

